:root {
  --color-bg-card: white;
  --color-bg-header: #d6d6d6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body {
  font-family: "Sour Gummy", sans-serif;
}

header,
main {
  font-style: italic;
}

header {
  background-image: url('../img/wall.png');
  background-size: 30%;
  background-repeat: repeat;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  font-size: 6rem;
}

main {
  background-image: url('../img/cork.png');
  background-repeat: repeat;
  background-size: 30%;
  padding: 4rem 0;
}

/* utils */
.p-1 {
  padding: 1rem;
}

/* components */

.container {
  padding-inline: 6.5rem;
}

.card {
  padding: 1rem;
  background-color: white;
  margin-bottom: 1.5rem;
  position: relative;
}

.card img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .text {
  padding-top: 0.3rem;
  min-height: 50px;
}

.card::after {
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.582);
  position: absolute;
  left: 50%;
  top: -.3rem;
  transform: translateX(-50%);
  background: rgb(111, 22, 13);
  background: linear-gradient(180deg, rgba(111, 22, 13, 1) 0%, rgba(230, 92, 80, 1) 100%);
  box-shadow: 0.2px 2px 5px -1px #000000;
}

/* media queries */

@media screen and (min-width: 768px) {
  .container {
    padding: 0;
    max-width: 600px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}